.chatbot-button {
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it's on top of other elements */
    padding: 0;
}

.chatbot-button img {
    width: 50px;
    height: 50px;
}

.chat-popup {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.chat-header {
    padding: 10px;
    background-color: #D3D3D3;
    color: #B22222;
    border-radius: 10px 10px 0 0;
}

.chat-body {
    padding: 10px;
    height: 250px;
}