.chatbot-button {
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it's on top of other elements */
    padding: 0;
}

.chatbot-button img {
    width: 50px;
    height: 50px;
}

.chat-popup {
    position: fixed;
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    padding: 10px;
    background-color: #D3D3D3;
    color: #B22222;
    border-radius: 10px 10px 0 0;
}

.message-bubble {
    padding: 8px 12px;
    margin: 4px 10px;
    background-color: #0078d7;
    border-radius: 15px;
    max-width: calc(100% - 20px);
    word-wrap: break-word;
    color: white;
    align-self: flex-end;
    box-sizing: border-box;
}

.message-bubble.user {
    align-self: flex-end;
}

.chat-body {
    padding: 10px;
    height: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 20px);
    box-sizing: border-box;
}
